@import "parts/params";
@import (reference) "parts/bootstrap";
@import "parts/mixins";

@import "slick/slick";
@import "slick/slick-theme";


html {
  .clear();
  overflow-x: hidden;
  overflow-y: scroll;
  position  : absolute;
  top       : 0;
  left      : 0;
  right     : 0;
  bottom    : 0;
}

a{
  color: currentColor;
}

.txt-36 {
  .font-xxl;

  @media (max-width: @size-mobile) {
    .font-m;
  }
}



.txt-32 {
  .font-xl;

  @media (max-width: @size-mobile) {
    .font-ml;
  }
}

.txt-24 {
  .font-l;

  @media (max-width: @size-mobile) {
    .font-ml;
  }
}

.txt-20 {
  .font-ml;

  @media (max-width: @size-mobile) {
    .font-s;
  }
}

.txt-18 {
  .font-m;

  @media (max-width: @size-mobile) {
    .font-xs;
  }
}

.txt-16 {
  .font-s;

  @media (max-width: @size-mobile) {
    font-size: 12px;
  }
}

.txt-16a {
  .font-s;

  @media (max-width: @size-mobile) {
    .font-xs;
  }
}

body {
  font-family: @font-family;
  color      : @black;


}

.button {
  width           : 265px;
  height          : 50px;
  border-radius   : 50px;
  background-color: @orange;
  color           : @white;
  text-align      : center;
  cursor          : pointer;

  @media (max-width: @size-mobile) {
    width : 250px;
    height: 40px;
  }
}



.button:hover {
  box-shadow      : 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(255, 102, 0, 0.12), 0px 4px 8px rgba(255, 102, 0, 0.18);
  background-color: darken(@orange, 1%);
}

img{
  border-radius: 5px;
}

input {
  width           : 265px;
  height          : 50px;
  border-radius   : 50px;
  background-color: white;
  color           : @black;
  text-align      : center;
  cursor          : pointer;
  outline: none;
  border: none;
  box-shadow:none;
  box-shadow      : 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(255, 102, 0, 0.12), 0px 4px 8px rgba(255, 102, 0, 0.18);
  
 
  @media (max-width: @size-mobile) {
    width : 250px;
    height: 40px;
  }
}

.icon-before(@url){
  display:inline-block;
  content:" ";
  width:1em;
  height:1em;
  margin-right: 0.5em;
  .bg-contain(@url); 
  position:relative;
  top:0.2em;
}

.clock:before{.icon-before('img/clock.svg')}
.tel:before{.icon-before('img/phone.svg')}
.location:before{.icon-before('img/location.svg')}

.title {
  .txt-32;
  text-align: center;
  font-weight: bold;
}

.subtitle {
  .txt-18;
  text-align: center
}

ul {
  list-style-type: none;
  padding        : 0;
  margin-left    : 2%;
}



.logo {
  .bg-contain('img/logo.png');
  align-self  : stretch;
  justify-self: stretch;
  
}

@import "parts/nav";
@import "parts/first";
@import "parts/projects";
@import "parts/contact";
@import "parts/reviews";
@import "parts/command";
@import "parts/faq";
@import "parts/footer";
@import "parts/form";
@import "parts/adress";




.m-show {
  @media (min-width: @size-mobile + 1) {
    display: none!important;
  }
}

.m-hide {
  @media (max-width: @size-mobile) {
    display: none!important;
  }
}

.t-hide {
  @media (max-width: @size-tablete) {
    display: none!important;
  }
}

.span {
  grid-column: span 3;
}

.politic {
  .block();
}