.sticky-block{
  position: sticky;
  top:0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, rgb(161, 88, 146) -100%, silver 100%);
}

.first{
  &:extend(.sticky-block);
  padding: 2em;
  
  &__title{
    
    position: absolute;
    z-index: 2;
    top:1em;
    left: 1em;
    color:white;
    font-weight: 800;
    text-shadow: 0.1em 0.1em 0.1em @dark_gray;
    
  }
  
  &__mobile-title{
    &:extend(.m-show);
    .font-l-600;
    position: absolute;
    width:90vw;
    top: 15%;
    color: white;
    text-shadow: 5px 5px 10px grey;
  }
  
  
  
  &__bg{
    width: 150%;
    height: 150%;
    border-top: solid 3px blue;
  
    transform: translateX(-400px) rotate(-7deg);
    .bg-cover('img/first/highway.jpg');
    @media(max-width: @size-mobile){
      .bg-cover('img/first/highway-m.jpg');
    }
    
  
  }
  
  
  
  &__form{
    position: absolute;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0,0,0,0.3);
    --p: 1em;
    top: var(--p);left: var(--p);bottom: var(--p);
    right: var(--p);
    
    border:5px double  white;
    .grid(1fr,repeat(5,55px),0, 10px);
    justify-items: center;
    padding-top: 75px;
    
    & input{
      justify-self: center;
    }
  }
  
  @media(max-width: 600px){
    .bg-cover('img/first/highway.jpg');
    &__bg{
      display: none;
    }
  }
}