.nav {
  position: fixed;
 
  bottom: 58vh;
 
  z-index: 4;
  display: block;
  width: auto;
  height: auto;
  margin-left: 5vw;
  
  &__link{
    color: white;
    border: 3px solid white;
    border-radius: 4%;
    padding: 0.5em;
    text-shadow: 2px 2px 2px black;
    
    &:hover{
      color: white;
      font-weight: 600;
      background-color: rgba(38, 197, 136, 0.5);
      text-decoration: none;
    }
  }
  
@media(max-width: 999px){
  width:100vw;

  .grid(repeat(5, minmax(0,max-content)), auto, 3vw);
  position: fixed;
  bottom:3em;
  left:~"calc(50% - 11em)";
}



  &__block {
    
    
    @media(min-width: 1000px){
      position: absolute;
      top     : 0;
      width   : 12vw;
      height  : 12vw;
      min-width   : 130px;
      min-height  : 130px;
      .grid(1fr);
      justify-items: center;
      align-items: center;
      mask        : url('/img/first/hexagon.svg');
      -webkit-mask: url('/img/first/hexagon.svg') top left / cover;
      
      transition: all 1s;
      
      &:hover{
        width   : 12.5vw;
      height  : 12.5vw;
        filter: brightness(110%);
      }
      
      &--1 {
        .bg-cover('/img/first/cosplay.jpg');
      }
      
      &--2 {
        .bg-cover('/img/first/car.jpg');
        left: 12vw;
      }
      
      &--3 {
        .bg-cover('/img/first/highway2.jpg');
        left: 6vw;
        top: 10vw;
      }
    }    
        
  }
}

.phone{
  position: fixed;
  z-index: 14;
  bottom:2em;
  right: 2em;
  width: max-content;
  height: auto;
  color: white;
  .title;
  
  @media(max-width:1000px){
    right:~" calc(50% - 4em)";
    bottom:2.5em;
  }
  
  @media(max-width:600px){
    bottom: 20%;
    font-size: 32px;
    background-color: rgba(38, 197, 136, 0.5);
    border: 5px double white;
    padding:0.3em;
    right:~" calc(50% - 4.2em)";
  }
  a, span {
    
    &:hover{
      text-decoration: none;
      color:white;
      font-weight: 900;
    }
    
    &:before {
      display: inline-block;
      content: " ";
      width: 1em;
      height: 1em;
      margin-right: .5em;
      background: url(img/first/phone.svg) no-repeat center/contain;
      position: relative;
      top: .2em;
  }}
}