.nav {
  position: sticky;
 
  bottom: 58vh;
 
  z-index: 4;
  display: block;
  width: auto;
  height: auto;
  margin-left: 5vw;
  
  &__link{
    color: white;
    border: 3px solid white;
    padding: 0.5em;
    text-shadow: 2px 2px 2px black;
    
    &:hover{
      color: white;
      font-weight: 600;
    }
  }



  &__block {
    position: absolute;
    top     : 0;
    width   : 12vw;
    height  : 12vw;
    min-width   : 150px;
    min-height  : 150px;
    .grid(1fr);
    justify-items: center;
    align-items: center;
    mask        : url('/img/first/hexagon.svg');
    -webkit-mask: url('/img/first/hexagon.svg') top left / cover;
    
    transition: all 1s;
    
    &:hover{
      width   : 12.5vw;
    height  : 12.5vw;
      filter: brightness(110%);
    }
    

    &--1 {
      .bg-cover('/img/first/cosplay.jpg');
    }
    
    &--2 {
      .bg-cover('/img/first/car.jpg');
      left: 12vw;
    }
    
    &--3 {
      .bg-cover('/img/first/highway2.jpg');
      left: 6vw;
      top: 10vw;
    }
  }
}