@font-face {
  font-family: "GothamPro";
  src: url(fonts/GothamProRegular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url(fonts/GothamProBold.ttf);
  font-weight: bold;
}




// colors
@blue: #11529F;
@white: white;
@black: black;
@gradient: linear-gradient(254.44deg, #01D993 -1.37%, #018FCD 98.73%);

// viewports

@viewport-max: 1438px;

@size-mobile: 560px;
@size-tablete: 1024px;

//paddings

@padding-h: 100px;

// font
@font-family: "GothamPro", sans-serif;
@font-h1: "GothamPro", arial, sans-serif;
@font-h2: "GothamPro", arial, sans-serif;
@fnt-size-xxs: 12px;
@fnt-size-xs: 16px;
@fnt-size-s: 18px;
@fnt-size-m: 20px;
@fnt-size-l: 30px;
@fnt-size-xl: 40px;
@line-height: 1.4em;
